{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
  <div class="col-lg-8">

    <!-- Alert -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-danger alert-sm fade show" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <!-- Återanvädbart kort -->
    {% macro upload_card(title, description, form_action) %}
      <div class="card app-card mb-4">
        <div class="card-body">

          <h5 class="card-title">{{ title }}</h5>

          <p class="card-text text-muted" style="font-size:14px">
            <em>{{ description }}</em>
          </p>

          <form method="post" action="{{ url_for(form_action) }}" enctype="multipart/form-data">
            <div class="input-group">
              <!-- Bootstrap visar valt filnamn automatiskt -->
              <input type="file" name="file" class="form-control" aria-label="Välj fil">

              <!-- Submit kan vara aktiv direkt -->
              <input type="submit" value="Skicka" class="btn btn-outline-secondary">
            </div>
          </form>

        </div>
      </div>
    {% endmacro %}


    <!-- Block 1: Matavfall med tätare hämtningsintervall än restavfall -->
    {{ upload_card(
        "Matavfall med tätare hämtningsintervall än restavfall",
        "Modul: Avtal och Tjänster - Bokmärke: ÅV Restavfall och matavfall hämtfrekvens",
        'hamtfrekvens_mat_rest.hamtfrekvens_mat_rest'
    ) }}

    <!-- Block 2: Matchning prisdel på avtal mot hämtfrekvens -->
    {{ upload_card(
        "Matchning av prisdel på avtal mot hämtfrekvens",
        "Modul: Avtal och Tjänster - Bokmärke: ÅV Prisdel och hämtfrekvens",
        'hamtfrekvens_prisdel.prisdel_check_upload'
    ) }}

    <!-- Block 3 Debiteringsgrupp fritidshus och villor -->
    {{ upload_card(
        "Debiteringsgrupp fritidshus och villor",
        "Modul: Avtal och Tjänster - Bokmärke: ÅV Debiteringsgrupp fritidshus och villor",
        'debiteringsgrupp_check.debiteringsgrupp_upload'
    ) }}

    <!-- Block 4 Antalsvärde på flextjänst mot antalet aktiva individer -->
    {{ upload_card(
        "Antalsvärde på flextjänst mot antalet aktiva individer",
        "Modul: Miljötjänster - Bokmärke: ÅV Kärl med antalsvärde och individer",
        'antalsvarde_individer.individer_check_upload'
    ) }}

    <!-- Block 5: Slamanläggningar - kontroll av körtursplaner med mera -->
    {{ upload_card(
        "Slamanläggningar - kontroll av körtursplaner med mera",
        "Modul: Miljötjänster - Bokmärke: ÅV Slamanläggningar med körturer",
        'slamanlaggningar_check.slamanlaggningar_upload'
    ) }}
  </div>
</div>

{% endblock %}
