{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
  <div class="col-lg-8 bg-light p-4 border border-3 rounded">

    <h4>Filen är färdigbehandlad</h4>
    <p>{{ message | safe }}</p>

    <form method="get" action="{{ url_for('download_file', filename=output_filename) }}">
        <input type="submit" value="Hämta filen" class="btn btn-outline-success">

        <a href="{{ url_for(back_endpoint) }}"
           class="btn btn-outline-secondary">
            Tillbaka
        </a>
    </form>

  </div>
</div>

{% endblock %}
